/* @import 'big_john.css'; */
@import 'reset.css';

/* @font-face {
  font-family: BigJohn;
  src: url('assets/BigJohn/BIGJOHN.woff2') format('woff2'),
       url('assets/BigJohn/BIGJOHN.woff') format('woff');
} */



/*html {
  background-color: red;
}*/
